<h2 style='text-align: center;'>All Authors</h2>
<h2><%= link_to '', new_author_path, class: 'glyphicon glyphicon-plus size-20' %></h2>
<table>
  <tr>
    <th>STT</th>
    <th>First_name</th>
    <th>Last_name</th>
    <th>Title</th>
    <% if current_user.present?%>
      <th>Action</th>
    <% end %>
  </tr>
  <%= render @authors %>
</table>
