<tr>
  <td><%= customer.id %></td>
  <td><%= link_to customer.last_name, customer %></td>
  <td><%= customer.title %></td>
  <td><%= customer.email %></td>
  <% if current_user.present?%>
  <td>
    <span class='glyphicon glyphicon-pencil'></span>
    <span class='glyphicon glyphicon-remove'></span>
  </td>
  <% end %>
</tr>
